.carte {
    border-top:4px solid #ffbe55;
    border-radius: 4px;
    background:#fafbf6 ;
    padding: 20px;
    margin:  10px;
    width: 150px;
    height: fit-content;
}

.voiture-card-action {
    display: flex;
    padding: 0px 20px;
    gap: 10px;
}

.voiture-card-action button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fafbf6;
    transition: 0.2s;
}

.voiture-card-action button:hover {
    transform: scale(1.1);
    background-color: #00000022;
}

p.voiture-info {
    margin: 5px;
}

p.voiture-info.design {
    font-family: nunito;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #bea579;
}

p.voiture-info.frais {
    font-family: nunito;
    font-size: 10px;
    margin-bottom: 20px;
    color: #888888;
}