.carte {
    border-top:4px solid #ffbe55;
    border-radius: 4px;
    text-align: center;
    background:#fafbf6 ;
    margin:  10px;
    width: 100px;
    height: fit-content;
}

.voitureContener{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: auto;
    height: 500px;
    overflow-y: scroll;
}