.colis-header {
	display: flex;
	height: 60px;
	border-bottom: 2px solid #eeefea;
	width: 100%;
	padding: 10px 20px;
	align-items: center;
	place-content: space-between;
}

.colis-header h2 {
	margin: 0;
	padding: 0;
	align-content: center;
}

.colis-search {
	width: 300px;
	height: 30px;
	border-bottom: 1px solid #bea579;
	display: flex;
}

.colis-search input[type="text"] {
	width: 270px;
	height: 30px;
	background: transparent;
	border: 0;
	padding-left: 10px;
	outline: none;
}