.container{
    width: 100%;
    height: 100%;
    padding-inline: 25px;
}

table{
    width: 100%;
}
table tr > td{
    padding-block: 5px;
    padding-inline: 10px;
}

table tr:nth-child(2n){
    background-color: #ba842c5e;
}
.titre{
    color: #ba832c;
}
thead {
    background-color: #ba832c;
    color: white;
}